body{
    margin: 0px;
    padding: 0px;
}
main{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding-top: 5%;
    padding-bottom: 5%;
}
.content{
    width: 40%;
    height: 90%;
    background-color: transparent;
    margin: auto;
    text-align: center;
}

#profile{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
button{
    height: 40px;
    width: 400px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    
}
button:focus{
    outline: none !important;
}
button:hover{
    cursor: pointer;
}
#first{
    margin-top: 70px;
}

@media screen and (max-width: 770px){
    .content{
        width: 90%;
    }
    main{
        height: 90vh;
        padding-bottom: 50px;
        padding-top: 20%;
    }
    .
}
@media screen and (max-width: 450px) {
    .content{
        width: 100%;
        height: max-content;
    }
    button{
        width: 250px;
    }
}